.color-bg{
    background-color: rgb(231, 225, 225);
    height: 415px;

}
.carousel-item{
    padding:20px 40px;
}
.buy-now-button{
    background-color: black;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;

}
